VITE_SUPABASE_URL=https://evkqwvjhufoessvjdhgd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2a3F3dmpodWZvZXNzdmpkaGdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MDQzNzAsImV4cCI6MjA5NTA4MDM3MH0.9j7cf1yswbhFdIqqS52-GVrbEBUmTs3mhSpSyzK8PFY
